$color-red: #FF4742;
$color-red-dark: #d0260a;
$color-red-darker: #B72109;

$color-blue: #2095F2;
$color-blue-dark: #206cc6;
$color-blue-darker: #1a579e;

$grey-light : #F1F1F1;
$grey-dark : #dadada;
$grey-darker : #999999;

$base-color: $color-red;
$base-color-dark : $color-red-dark;
$base-color-darker : $color-red-darker;

$background: $grey-dark;
$white : #fff;

$font-family-base : "Tahoma";