.global-search {
  position: relative;
  z-index: 2;
  display: none;
}

.global-search input[type=search],.search-content {
  width: 100%;
  background: #313131;
  border: none;
  padding: 0.4em 1em;
  font-size: 20px;
  color: #fff;
}

.global-search input[type=search]:focus {
  outline: 0;
}

.search-content{
  border-top: 0.5px solid $grey-light ;
}

#search-form > .selectize-control{
  background: $grey-light;
  border: none;
  padding: 10px 0;
  width: 300px;
  text-shadow: 0 0.1px 0.1px #A7B3C2;
  color: #A7B3C2;

  .selectize-input{
      border: none;
      background: transparent;
  }
  .selectize-input.focus
  {
      box-shadow: none;
  }
  .selectize-input:after{
     content: none;
  }
  span.select2-selection.select2-selection--single{
    background: none;
    border: none;
  }
}