.tags {
  line-height: 18px;
  float: left;
  display: inline-block;
}
.post-tag {
  text-align: center;
  color: $color-blue-lightest;
  background-color: $color-blue-light;
  padding: .25em .5em;
  margin: 2px 2px 2px 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid $color-blue-light;
  border-radius: .1em;


  a {
    text-decoration: none;
  }
}
.post-tag:visited {
  color: #566e76;
}

.post-tag:hover {
  color: $color-blue-lightest;
  background-color: $color-blue-lighter;
  border: 1px solid $color-blue-lighter;
  text-decoration: none;

}