.nothing{content:'no idea why this is needed'}
.white{background:#fff}
.on{color:$base-color}
.bottom{margin-bottom:0}
.zeroed{margin:0 !important;padding:0 !important}
.text-inline{display:inline-block}
.strike{text-decoration:line-through}
.caret-adjust{margin-right:-8px}
.inline-nav li{display:inline-block;margin-right:1em;padding-right:1em;border-right:1px solid #c5c5c5}
.inline-nav li:last-child{border-right:none}
.inline-nav .brand{color:#999}
.inline-nav .brand i{color:$base-color}
.flash_message{
  position:fixed;bottom:0;right:20px;z-index:10000;background:#bb574e;color:#fff;border:none;border-radius:0;padding:18px 40px;-webkit-box-shadow:0 0 15px #999;box-shadow:0 0 15px #999;min-width:380px;text-align:center
}

.alert-info{background:$base-color;color:#fff}
.section{margin-bottom:5em;overflow:hidden}
.section h2.cursive{font-size:3em}
a.text-muted:hover{color:#c5c5c5}
.bare{padding:0;margin:0;list-style:none}
.naked li{list-style:none}
.centered li{list-style:none}
.no-left-arm{margin-left:0;padding-left:0}
.divider {
  min-height: 1px;
  padding-bottom: 0.7em;
  margin-bottom: 0.7em;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-large {
  font-size: 1.5em;
  line-height: 1.8em;
}

.text-xsmall {
  font-size: 0.6em;
}

.breather {
  margin-bottom: 2em;
}

@media (max-width: 771px) {
  .hide-from-mobile {
    display: none;
  };
}

.text-accent,.text-accent a {
  color: $base-color !important;
}

.full-center {
  display: table;
}

.full-center-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.accent-bg {
  background: $base-color !important;
}

.subprimary-bg {
  background: -webkit-linear-gradient(top, $base-color, #f88c7b);
  background: -moz-linear-gradient(top, $base-color, #f88c7b);
  background: linear-gradient(top, $base-color, #f88c7b);
}

.accent-bg h2,.subprimary-bg h2 {
  color: #fff !important;
}

.accent-bg h2 a:hover,.subprimary-bg h2 a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.placeholder-animation::-moz-placeholder,#navbar-search-form #q::-moz-placeholder,.input-search::-moz-placeholder {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.placeholder-animation::-ms-input-placeholder,#navbar-search-form #q::-ms-input-placeholder,.input-search::-ms-input-placeholder {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.placeholder-animation::-webkit-input-placeholder,#navbar-search-form #q::-webkit-input-placeholder,.input-search::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.placeholder-animation:focus::-moz-placeholder,#navbar-search-form #q:focus::-moz-placeholder,.input-search:focus::-moz-placeholder {
  opacity: 0;
}

.placeholder-animation:focus::-ms-input-placeholder,#navbar-search-form #q:focus::-ms-input-placeholder,.input-search:focus::-ms-input-placeholder {
  opacity: 0;
}

.placeholder-animation:focus::-webkit-input-placeholder,#navbar-search-form #q:focus::-webkit-input-placeholder,.input-search:focus::-webkit-input-placeholder {
  opacity: 0;
}

#level-up {
  background: #313131;
  border-top: 1px solid #393939;
  color: #999;
}

#level-up h2 {
  color: inherit;
}

@media (max-width: 767px) {
  #level-up h2 {
    font-size: 1.5em;
  };
}

#level-up a {
  color: #fff;
}

.lessons-nav {
  padding-top: 2em;
  background: $white;
}

@media (max-width: 767px) {
  .lessons-nav {
    display: none;
  }
}

.lessons-nav li {
  border-right: none;
  font-size: 1.2em;
  display: inline-block;
  position: relative;
}

.lessons-nav li a {
  display: block;
  padding-bottom: 15px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  color: #A7B3C2;
  text-decoration: none;
}

@media (max-width: 767px) {
  .lessons-nav li a {
    padding-bottom: 0;
  };
}
//
.lessons-nav li.active a,.lessons-nav li>a:hover {
  color: #222;
  border-bottom: 3px solid #222;
}

@media (max-width: 991px) {
  .lessons-nav li.active a,.lessons-nav li>a:hover {
    border-bottom: none;
  };
}

.lessons-nav li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.lessons-nav li a.dropdown-toggle:hover {
  background: none;
  color: $base-color;
}

.lessons-nav .dropdown-menu li {
  margin-right: 0;
  padding-right: 0;
  width: 100%;
}

.lessons-nav .dropdown-menu li.active {
  background: $base-color;
}

.lessons-nav .dropdown-menu li.active a {
  color: #fff;
  background: inherit;
}

.lessons-nav .dropdown-menu li:hover a {
  background: $base-color;
  color: #fff;
}

.lessons-nav .dropdown-menu li a {
  border-bottom: none;
  padding-bottom: 3px;
}

.lessons-nav .container:after {
  border-top: 1px solid #e3e3e3;
  width: 100%;
}

@media (max-width: 767px) {
  .lessons-nav .container:after {
    border-top: none;
    width: auto;
  };
}

.lessons-nav--forum .container {
  padding: 0;
}

.lessons-nav--forum li {
  margin-right: 0.8em;
  padding-right: 0.8em;
}

@media (max-width: 1200px) {
  .lessons-nav--forum li {
    margin-right: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
  };
}

@media (max-width: 767px) {
  .lessons-nav--forum li {
    line-height: 2em;
  };
}

.lessons-nav--forum li.active a,.lessons-nav--forum li a:hover {
  border-bottom: 3px solid $base-color;
  color: $base-color;
}

.lessons-nav--forum #lessons-nav--forum__rankings a {
  color: $base-color;
}

.lessons-nav--forum #lessons-nav--forum__leaderboard a {
  color: #4B4B4B;
}

.lessons-nav--forum #lessons-nav--forum__leaderboard a i {
  position: relative;
  top: 6px;
  margin-right: 3px;
}

.lessons-nav__primary {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.lessons-nav__secondary {
  float: right;
  margin: 0;
  padding: 0;
}

@media (max-width: 991px) {
  .lessons-nav__secondary {
    float: none;
    clear: both;
  };
}

.tip-number {
  color: #fff;
}

.lessons__quote {
  font-size: 3em;
  margin: 0;
  padding: 3em 0;
}

.lessons__heading {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2.7em;
  letter-spacing: -1px;
  line-height: 1;
  color: #000;
  text-align: center;
}

@media(min-width: 767px) {
  .lessons__heading:before,.lessons__heading:after {
    content: "";
    width: 25px;
    height: 10px;
    border-top: 1px solid #313131;
    display: inline-block;
  }

  .lessons__heading:before {
    margin-right: 10px;
  }

  .lessons__heading:after {
    margin-left: 10px;
  }
  @media (max-width: 767px) {
    .lessons__heading{margin-top: 10px;
    };
  }}

.lessons__heading a {
  color: inherit;
}

.lessons__heading i {
  color: #666;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  padding-right: 5px;
}

.lessons__tag {
  font-size: 20px;
  margin-bottom: 1em;
  padding-left: 0;
  list-style: none;
}

.continue {
  font-weight: bold;
  font-family: $font-family-base;
  font-size: 1.6em;
  margin-top: -1em;
}

#search-container {
  text-align: center;
  background: #464646;
}

#search-container h2 {
  color: #fff;
}

.search-big {
  height: 70px;
  width: 75%;
  line-height: 70px;
  font-size: 1.6em;
  -webkit-box-shadow: inset 0 1px 0 #c5c5c5,inset 0 -1px 0 #c5c5c5;
  box-shadow: inset 0 1px 0 #c5c5c5,inset 0 -1px 0 #c5c5c5;
}

h1,h2,h3,h4 {
  line-height: 1.4em;
}

h1 {
  font-family: $font-family-base;
  letter-spacing: -1px;
}

h2,h3,h4 {
  font-family: $font-family-base;
//  font-weight: 300;
}

h3 a {
  color: #313131;
}

h3 a:hover {
  color: inherit;
}

.heading-top {
  margin-top: 0;
  font-weight: bold;
}

.cursive {
  font-family: $font-family-base;
  font-size: 2em;
}

.cursive__large {
  font-size: 3em;
}

.separator {
  margin-bottom: 2em;
  padding-bottom: 2em;
}


body.form-only {
  position: relative;
  color: #313131;
}

#form {
  position: relative;
  width: 670px;
  text-align: center;
  margin: 4em auto 0;
}

@media (max-width: 767px) {
  #form {
    width: 90%;
  };
}

#form form {
  background: #fff;
  padding: 2em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
}

#form h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 6em;
  font-weight: 800;
  display: inline-block;
  padding: 0 20px 5px;
  line-height: 1em;
  color: #313131;
}

@media (max-width: 767px) {
  #form h1 {
    font-size: 5em;
  };
}

#form .form-group {
  text-align: left;
}

#form .form-control {
  height: 55px;
  font-size: 21px;
}

#form .buttons {
  margin-bottom: 0;
}

#form .buttons button[type=submit] {
  width: 100%;
  margin-bottom: 1em;
  height: 50px;
}

#form .errors {
  margin-top: 1em;
}

#form .errors .error {
  color: red;
  text-align: left;
}


.embed-wrap {
  position: relative;
  height: 0;
  padding-bottom: 62.47%;
}

.embed-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}


.jumbotron {
  background: #2D3037;
  border-bottom: 1px solid #181818;
  color: #fff;
  padding: 62px 0;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .jumbotron {
    margin-bottom: 30px;
  };
}

.jumbotron__heading {
//  font-weight: bold;
  margin: 0;
  line-height: 1em;
  line-height: 1.2em;
  padding-right: 220px;
  color: $base-color;
  letter-spacing: -1px;
  font-size: 2.0em;
}

@media (max-width: 767px) {
  .jumbotron__heading {
    padding-right: 0;
  };
}

.jumbotron__heading a {
  color: inherit;
}

.jumbotron__sub-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
}
.jumbotron_second-heading a{
  color: $white;
  margin-top: 0.5em;
  text-decoration: none;
}

.table-section {
  margin-bottom: 2em;
}

.accent {
  background: $base-color;
  color: #fff;
}

.upcoming {
  background: $base-color;
  font-weight: bold;
  color: #fff;
}

th {
  font-weight: normal;
}

.post__media-wrap {
  border: 1px solid #e9e9e9;
  background: #444;
  padding: 10px;
}

.post__quote {
  margin: 2em 0;
  font-size: 2em;
  font-family: $font-family-base;
}


@-webkit-keyframes slide-in-left {
  from {
    left: -3000px;
  }
}

@-moz-keyframes slide-in-left {
  from {
    left: -3000px;
  }
}

@keyframes slide-in-left {
  from {
    left: -3000px;
  }
}

@-webkit-keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

@-moz-keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

@keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

@-webkit-keyframes slide-in-top {
  from {
    top: -2000px;
  }
}

@-moz-keyframes slide-in-top {
  from {
    top: -2000px;
  }
}

@keyframes slide-in-top {
  from {
    top: -2000px;
  }
}

@-webkit-keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

@-moz-keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

@keyframes slide-in-bottom {
  from {
    bottom: -2000px;
  }
}

.slide-in-left,.slide-in-bottom,.slide-in-top {
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  position: relative;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s;
  -moz-animation: slide-in-left 0.5s;
  animation: slide-in-left 0.5s;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.7s;
  -moz-animation: slide-in-bottom 0.7s;
  animation: slide-in-bottom 0.7s;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.7s;
  -moz-animation: slide-in-top 0.7s;
  animation: slide-in-top 0.7s;
}


.series-title {
  font-weight: bold;
  margin-top: 0;
  opacity: 1;
  color: #313131;
}

.episode-outline .episode-wrap td {
  padding: 20px;
  vertical-align: middle;
  font-size: 15px;
  color: #777;
}

.episode-outline .episode-wrap:hover td,.episode-outline .episode-wrap.active td {
  background: $base-color;
  color: #fff;
  cursor: pointer;
}

.episode-outline .episode-wrap:hover td.episode-status button,.episode-outline .episode-wrap:hover td.episode-watch-later button,.episode-outline .episode-wrap.active td.episode-status button,.episode-outline .episode-wrap.active td.episode-watch-later button {
  color: #fff;
}

.episode-outline .episode-wrap:hover td a,.episode-outline .episode-wrap.active td a {
  color: inherit;
}

.episode-outline .episode-title {
  font-weight: bold;
  padding: 0 !important;
}

.episode-outline .episode-title a {
  display: block;
  padding: 20px;
  color: #A7B3C2;
}

.episode-outline .episode-title .label-new {
  margin-left: 8px;
  background: $base-color-darker;
}

.episode-outline .episode-length {
  width: 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .episode-outline .episode-length {
    display: none;
  };
}

.episode-outline .episode-index {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 767px) {
  .episode-outline .episode-index {
    display: none;
  };
}

.episode-outline a {
  font-size: 1.1em;
}

.episode-status,.episode-watch-later {
  width: 67px;
  text-align: center;
  font-size: 1.8em;
}

@media (max-width: 767px) {
  .episode-status,.episode-watch-later {
    display: none;
  };
}

.episode-status button,.episode-watch-later button {
  color: #888;
}

.episode-status button.on,.episode-watch-later button.on {
  color: $base-color;
}

.episode-status:hover button,.episode-watch-later:hover button {
  color: $base-color;
}

.wrap--video {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .wrap--video {
    padding-top: 30px;
    padding-bottom: 30px;
  };
}

.video {
  position: relative;
  font-size: 16px;
  background: #2D3037;
  color: #EFEFEF;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.video h1 {
  font-weight: bold;
  line-height: 1.2em;
  font-size: 1.9em;
  display: inline-block;
}
.video-sidebar__heading {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1em;
  font-weight: bold;
}

@media (max-width: 991px) {
  .video-sidebar__heading {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 1px solid #666;
  };
}

.video-sidebar__divider {
  border-top: 1px solid #666;
  width: 100%;
  height: 1px;
  display: block;
  margin: 70px 0 40px;
}

.video-sidebar__buttons {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 0;
  list-style: none;
  margin-bottom: 22px;
  position: relative;
}

.video-sidebar__buttons:last-child {
  margin-bottom: 0;
}

.video-sidebar__buttons>li {
  border-bottom: 1px solid #e3e3e3;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.video-sidebar__buttons>li:hover {
  background: $background;
}

.video-sidebar__buttons>li:last-child {
  border-bottom: none;
}

.video-sidebar__buttons>li form {
  display: block;
}

.video-sidebar__buttons>li *[class*="icon"] {
  color: #A7B3C2;
  width: 100%;
  text-align: left;
  display: block;
  font-size: 1.2em;
  position: relative;
  padding: 12px 14px 0;
  top: -3px;
}

.video-sidebar__buttons>li *[class*="icon"].on {
  color: $base-color;
}

.video-sidebar__buttons>li *[class*="icon"] span {
  padding-left: 10px;
  font-weight: bold;
  font-size: 0.83em;
  position: relative;
  top: -4px;
}

.video-sidebar__buttons>li *[class*="icon"]:hover {
  text-decoration: none;
  color: #f43819;
}

#playback-rate a {
  color: #888;
}

#playback-rate a:hover {
  color: $base-color;
}

#playback-rate .playback-rate__speed {
  float: right;
  color: #6D6D6D;
  position: relative;
  top: -1px;
}

#playback-rate a.active {
  background: #292929;
}
header {
  margin-top: 3.5em;
  margin-bottom: 0.8em;
  display: block;
}
.video-wrap {
  padding: 15px;
  background: #fff;
}

.sign-up-video-substitute {
  background: #080808 url(/images/laravel-logo.png) no-repeat 0 50%;
  background-size: contain;
  padding: 30.3% 0;
  text-align: center;
}

.info-popup {
  cursor: pointer;
}

.info-popup i {
  color: #fff;
  line-height: 37px;
}

.progress {
  width: 100%;
  height: 50px;
  border-radius: 0;
  margin-top: 1em;
  margin-bottom: 0;
  -webkit-box-shadow: inset 0 0 10px #c5c5c5;
  box-shadow: inset 0 0 10px #c5c5c5;
}

@media (max-width: 767px) {
  .progress {
    display: none;
  };
}

.progress .progress-bar {
  background: $base-color-darker;
  line-height: 50px;
}

.progress .progress-bar button {
  color: $base-color-darker;
}

.progress .progress-bar button:active,.progress .progress-bar button:focus,.progress .progress-bar button:hover {
  background: none !important;
  color: #000 !important;
}

.episode-outline-wrap {
  background: #fff;
}

.episode-outline-wrap h2,.episode-outline-wrap h2 a {
  color: #fff;
}

.episode-coming-soon {
  float: right;
  padding-right: 10px;
}

.episode-outline-striped tr {
  background: #fff;
}

.episode-outline-striped .episode-coming-soon {
  color: #fff;
}

.episode-scheduled {
  color: #313131;
}

.events li {
  line-height: 2em;
}

.events li span {
  font-weight: bold;
}

.admin-nav {
  margin-top: 5px;
}

.admin-nav ul {
  padding: 0;
}

.admin-nav li {
  display: block;
  clear: both;
  margin-bottom: 0.7em;
  padding: 0.5em 1em;
}

.admin-nav li:hover,.admin-nav li.active {
  background: #e3e3e3;
}

.admin-nav li.active {
  font-weight: bold;
}

.admin-nav li a {
  display: block;
}

.setting-heading {
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 0.4em;
  margin-bottom: 1em;
}

fieldset {
  margin-bottom: 7em;
}

fieldset:last-child {
  margin-bottom: 0;
}

.panel {
  position: relative;
}

.panel.registration .panel-body,.panel.registration .panel-heading,.panel.registration .panel-footer {
  padding: 50px;
}

.error,.errors,.errors li {
  color: red;
}

.validation-error {
  color: red;
  position: relative;
  top: 5px;
  font-style: italic;
}

input+span.error {
  margin-top: 5px;
  display: inline-block;
}

.well-large {
  padding: 25px 50px;
}

.registration .panel-heading .cc-icons,.registration .panel-heading .cc-icons img {
  float: right;
}

@media (max-width: 767px) {
  .registration .panel-heading {
    text-align: center;
  }

  .registration .panel-heading h1 {
    text-align: center;
    font-size: 2em;
  }

  .registration .panel-heading .cc-icons,.registration .panel-heading .cc-icons img {
    float: none;
    margin-top: 1em;
  };
}

@media (max-width: 991px) {
  .registration select {
    margin-bottom: 1em;
  }

  .registration .terms {
    margin-bottom: 1em;
  };
}

@media (max-width: 991px) {
  .registration .sign-up-buttons {
    float: none !important;
    text-align: center;
  };
}

.registration .coupon-response {
  position: absolute;
  top: 40px;
}

.input-rounded {
  border-radius: 100px;
  border: none;
}

.input-xlarge {
  padding: 25px 20px;
  font-size: 1.4em;
  width: 460px;
}

@media (max-width: 767px) {
  .input-xlarge {
    display: none;
  }
}

.input-search {
  outline: 0;
  color: $base-color;
}

*::-webkit-input-placeholder {
  color: #A7B3C2;
}

*:-moz-placeholder {
  color: #A7B3C2;
}

*::-moz-placeholder {
  color: #A7B3C2;
}

*:-ms-input-placeholder {
  color: #A7B3C2;
}

.form-update {
  padding: 3em;
  margin-top: 1.5em;
}

.form-update footer {
  margin-top: 1.5em;
}

.input-full {
  height: 70px;
  width: 75%;
  font-size: 1.6em;
  border-radius: 4px;
  padding: 0 6px;
}

.btn-primary {
  background: $base-color;
  border-color: #f54d32;
}

.btn-primary:hover {
  background: $base-color-dark;
  border-color: $base-color-darker;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  background-color: #f54d32;
  border-color: $base-color-dark;
}

.btn-join {
  background: $base-color;
  color: #fff !important;
}

@media (max-width: 767px) {
  .btn-join {
    background: transparent;
  };
}

.nav .btn-join {
  margin-left: 10px;
}

.btn-join:hover {
  background: #f43819 !important;
}

.btn-join--large {
  font-size: 1.1em;
}

.btn-accent {
  background: $base-color;
  border: 1px solid #f43819;
}

.btn-accent:hover {
  background: #f43819;
  border: 1px solid $base-color-dark;
}

.btn-accent:active {
  background: #f22c0c;
}

.naked-btn {
  background: transparent;
  color: $base-color;
  padding: 0;
  border: none;
}

.naked-btn:focus {
  outline: none;
}

.naked-btn:hover {
  color: #333;
}

.btn-transparent {
  background: rgba(0,0,0,0.2);
  border: 1px solid #666;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 771px) {
  .btn-transparent {
    background: rgba(0,0,0,0.7);
  };
}

.btn-transparent:hover {
  background: rgba(187,87,78,0.6);
  border: 1px solid #bb574e;
  color: #fff;
}

.btn-transparent:active,.btn-transparent:focus {
  background: -webkit-linear-gradient(top, rgba(211,73,24,0.5), rgba(142,49,16,0.5) 30%);
}

.btn-default {
  background: #fff;
}

.btn-wide {
  padding: 10px 40px;
}

.signup-welcome {
  text-align: center;
  color: #fff;
  margin: -36px 0 0 0;
  font-size: 3em;
}

.signup-welcome small {
  color: #555;
}

#signup-banner {
  padding: 8em 0;
}

#signup-form {
  margin-top: -50px;
}

@media (max-width: 767px) {
  #signup-form {
    margin-top: 0;
  };
}

#signup-form .panel {
  border-color: #f88c7b;
}

#signup-form .panel-heading {
  background: $base-color;
  color: #fff;
}

#signup-form .panel-title {
  font-size: 26px;
}

.signup-subheading {
  margin-bottom: 2em;
  padding-bottom: 1em;
  font-weight: 300;
  border-bottom: 1px solid #e9e9e9;
}

#signup-form fieldset {
  margin-bottom: 4em;
}

#signup-form label {
  padding-top: 6px;
}

#signup-form label:after {
  content: ":";
}

.naked-list {
  margin: 0;
  padding: 0;
}

.naked-list__inline {
  display: inline;
}

.naked-list__inline li {
  display: inline;
  margin-right: 1em;
}

.list-group {
  padding-right: 0;
}

.list-group-item-icon {
  float: left;
  padding-right: 9px;
  line-height: 1.6em;
  width: 25px;
}

.inline-nav-right li {
  float: right;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
  margin-left: 1.5em;
}

.nav-icons a:hover {
  text-decoration: none;
}

.basic-list li {
  list-style: disc !important;
  margin-bottom: 0.3em;
}

.basic-list__aligned {
  padding-left: 20px;
}

.alert {
  border: 1px solid $base-color-dark;
}

.alert a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}

.alert a:hover {
  color: inherit;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}


.btn-signup {
  background: #fff;
  color: #313131;
  border-radius: 20px;
  padding: 0.7em 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-signup:hover {
  background: #e3e3e3;
}

.blockquote__big {
  font-family: $font-family-base;
  font-size: 2.1em;
  font-weight: bold;
  border: none;
  text-align: center;
}

.blockquote__cite {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  display: block;
  margin-top: 1em;
}

.blockquote__cite img {
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
  padding: 3px;
  background: #313131;
}

.stat {
  text-align: center;
}

.stat-heading {
  margin-top: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 8em;
  color: #fff;
  width: 300px;
  line-height: 300px;
  background: $base-color;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #f43819;
}

.q-a .panel-body {
  font-size: 1em;
}

.q-a .panel-title {
  background: $base-color;
  padding: 8px;
  color: #fff;
  margin-top: 1em;
  font-size: 1.4em;
  border-radius: 4px;
}

.faq {
  margin-bottom: 5em;
}

#index .list-group-item {
  list-style: none;
  font-size: 1.3em;
}

#index .list-group-item i {
  top: 4px;
  position: relative;
}

#index .list-group-item .label-muted {
  background: #c5c5c5;
  color: #313131;
  font-size: 12px;
  position: relative;
  top: -2px;
  margin-left: 6px;
}

#index .list-group-item .label-muted:hover {
  background: #acacac;
}

#index .list-group-item .label-muted a {
  color: inherit;
}

#index .list-group-item .label-muted a:hover {
  text-decoration: none;
}

#index .list-group-item .lesson-date {
  font-size: 0.8em;
  padding-top: 6px;
}

.badge {
  position: relative;
  top: 5px;
}

.badge a {
  color: inherit;
}

.badge a:hover {
  color: inherit;
  text-decoration: none;
}

.badge:hover {
  background: #3b3b3b;
}


.featured {
  color: #fff;
  overflow: hidden;
  padding: 0;
}

@media (max-width: 991px) {
  .featured {
    display: none;
  };
}

.featured .container {
  overflow: hidden;
}

.featured i {
  font-size: 3em;
}

.featured-block-header {
  background: #faa193;
  color: #555;
  position: relative;
  top: -3.7em;
  text-align: center;
  display: block;
  padding: 2px 4em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: -30px;
}

.featured-block-header h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}

.featured-block-header:before {
  border-left: 8px solid transparent;
  border-top: 8px solid #faa193;
  content: "";
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: relative;
  bottom: -16px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
}

.featured-block-thumbnail {
  padding: 0;
  padding-margin-right: -15px;
}

.featured-block-body h3,.featured-block-body h3 a {
  color: #fff;
  font-weight: 700;
}

.modal-header {
  background: $base-color;
  color: #fff;
}

.modal-title {
  padding-right: 15px;
}

.forum .jumbotron {
  background: #2D3037;
  margin-bottom: 40px;
}

.forum .jumbotron .jumbotron__heading {
  color: $base-color;
}

.forum .jumbotron .jumbotron__sub-heading {
  color: #fff;
  font-size: 18px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .forum .jumbotron .jumbotron__sub-heading {
    display: none;
  };
}

.forum .jumbotron .jumbotron__sub-heading .btn {
  margin-right: 5px;
}

.forum .jumbotron .jumbotron__sub-heading a:not(.btn) {
//  color: #A7B3C2;
//  text-transform: lowercase;
}

@media (max-width: 767px) {
  .forum .jumbotron .participation__avatar {
    display: none;
  };
}

.forum .jumbotron .participation__avatar i {
  -webkit-box-shadow: 0 0 0 4px #313131;
  box-shadow: 0 0 0 4px #313131;
  background: #313131;
}

.forum .jumbotron .btn-primary {
  background: #fff;
  color: #313131;
  position: absolute;
  right: 15px;
  top: 0;
  font-weight: bold;
  padding: 10px 17px;
  line-height: 1em;
  margin-top: -10px;
  border: none;
}

@media (max-width: 991px) {
  .forum .jumbotron .btn-primary {
    position: relative;
    right: 0;
    margin-top: 1em;
  };
}

.forum .jumbotron .btn-primary:hover {
  background: $base-color;
  color: #fff;
}

.forum .jumbotron .btn-primary i {
  vertical-align: inherit;
  margin-right: 6px;
  font-size: 1.2em;
  position: relative;
  top: 1px;
}

.strong {
  font-weight: bold !important;
}

.hide-it {
  display: none;
}

.forum .breadcrumb {
  padding: 34px 0 50px 0;
  margin: -40px 0 0 80px;
  position: relative;
  font-size: 16px;
  background: none;
}

@media (max-width: 991px) {
  .forum .breadcrumb {
    margin-left: 0;
  };
}

@media (max-width: 991px) {
  .forum .breadcrumb li.hide-from-mobile {
    display: none;
  };
}

.forum .breadcrumb:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 1px solid #eee;
  left: -50px;
  top: 0;
}

@media (max-width: 991px) {
  .forum .breadcrumb:before {
    content: none;
  };
}

.forum .breadcrumb:after {
  border-bottom: 1px solid #eee;
  content: "";
  display: block;
  width: 1110px;
  height: 1px;
  position: relative;
  left: -50px;
  top: 12px;
}

@media (max-width: 991px) {
  .forum .breadcrumb:after {
    width: 100%;
    left: 0;
  };
}

@media (max-width: 991px) {
  .forum .breadcrumb:before {
    content: none;
  };
}

.forum .breadcrumb a,.forum .breadcrumb button {
  color: #A7B3C2;
  font-weight: bold;
}

.participation__user-meta {
  max-width: 77px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  padding-top: 0.7em;
  font-family: $font-family-base;
  font-size: 12px;
  line-height: 1.4;
  list-style: none;
}

.icon-muted {
  font-size: 25px;
  position: relative;
  top: -12px;
  color: #c9c9c9;
}

.link--static:hover {
  text-decoration: none;
}

.tidbits {
  padding-top: 0.3em;
}

.tidbits li {
  font-size: 14px;
  text-align: center;
  font-family: $font-family-base;
}

.monthly {
  color: #D6CDBD;
}

.yearly {
  color: #868e5a;
}

.forever {
  color: $base-color;
}

.owner {
  color: #ffb20c;
}

body.forum {
  background: #fff;
}

.forum-nav {
  background: #464646;
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

@media (max-width: 991px) {
  .forum-nav {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  };
}

@media (max-width: 767px) {
  .forum-nav {
    width: 100%;
    display: none;
  };
}

.forum-nav .container {
  display: table;
  width: 100%;
}

.forum-nav li {
  display: inline-block;
  text-align: center;
  position: relative;
  border-right: 1px solid #393939;
}

.forum-nav li a {
  padding: 0.7em 1em;
  font-family: $font-family-base;
  font-size: 1.1em;
  display: inline-block;
  color: #fff;
}

@media (max-width: 991px) {
  .forum-nav li a {
    padding: 0.7em 0.7em;
  };
}

.forum-nav li a:hover {
  text-decoration: none;
}

.forum-nav .active,.forum-nav li:hover {
  text-decoration: none;
  background: #faa193;
  color: #555;
}

.forum-nav .active a,.forum-nav li:hover a {
  color: #555;
}

.forum-nav #forum-nav-leaderboard {
  float: right;
}

@media (max-width: 1200px) {
  .forum-nav #forum-nav-leaderboard {
    float: none;
  };
}

@media (max-width: 991px) {
  .forum-nav #forum-nav-leaderboard {
    display: none;
  };
}

.forum-nav #forum-nav-leaderboard i {
  position: relative;
  top: 2px;
  left: -4px;
}

.forum-nav .forum-nav__main-button {
  float: right;
  border: none;
  background: $base-color-darker;
}

@media (max-width: 1200px) {
  .forum-nav .forum-nav__main-button {
    float: none;
  };
}

.padded-bottom {
  margin-bottom: 1em;
}

.padded-bottom--large {
  margin-bottom: 40px;
}

.forum-header--nav {
  display: none;
  position: relative;
  margin-bottom: 1.3em;
  background: #333;
}

.forum-header--nav .nav {
  padding-top: 0;
  margin: 0;
}

.forum-header--nav .nav .dropdown-toggle {
  margin: 0;
  padding: 11px 0;
  font-family: $font-family-base;
  font-size: 1.1em;
}

.forum-header--nav .nav .dropdown-menu {
  background: #333;
  border-radius: 0;
  position: absolute;
  width: 100%;
}

.forum-header--nav .nav .dropdown-menu li {
  line-height: 42px;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.1em;
}

@media (max-width: 767px) {
  .forum-header--nav {
    display: block !important;
  }
}

// TODO Fixed this
//@media (max-width: 991px) {
//  padding-bottom: 30px;
//  text-align: center;
//}
//
//@media (max-width: 767px) {
//  padding-top: 0;
//  padding-bottom: 10px;
//  margin-bottom: 25px;
//}

.container {
  position: relative;
}

.forum-header__heading {
  font-weight: normal;
  font-size: 32px;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .forum-header__heading {
    text-align: center;
  };
}

.forum-header__heading a {
  color: #fff;
}

.forum-header__heading a:hover {
  text-decoration: none;
  color: #ccc;
}

.forum-header__heading a.btn {
  color: #313131;
  background: #fff;
  font-family: $font-family-base;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1em;
  border: none;
}

.forum-header__heading a.btn:hover {
  background: #871907;
  color: #fff;
}

.forum-header__heading i {
  color: #fff;
  padding-right: 3px;
  vertical-align: middle;
}

.forum-header__heading i:hover {
  color: #222;
}

@media (max-width: 767px) {
  .forum-header__heading {
    display: block;
    margin-bottom: 0.3em;
    line-height: 1;
  };
}

.forum-header__heading input {
  height: 30px;
  background: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: right;
  width: 200px;
}

.btn-forum {
  font-size: 0.857em;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  line-height: 1;
}

.btn-forum:before {
  content: " ";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 4px;
}

.btn-forum:hover {
  color: #fff;
  border: 1px solid #555;
}

.btn-submit {
  font-family: $font-family-base;
  font-weight: normal;
  text-shadow: none;
}

#forum-buttons {
  float: right;
  overflow: hidden;
  position: relative;
  top: -47px;
}

.conversation__title {
  margin-top: 0;
  display: inline;
}

.media {
  font-size: 22px;
  letter-spacing: 0.01rem;
}

.media--conversation {
  position: relative;
  margin-top: 0;
  margin-bottom: 27px;
}

@media (max-width: 767px) {
  .media--conversation {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  };
}

.media--conversation:last-child {
  border-bottom: none;
}

.media--leaderboard .media-body {
  margin-right: 0;
}

.media--leaderboard .media-heading {
  margin-bottom: -4px;
  font-size: 0.8em;
}

.media--leaderboard .media--conversation__meta .experience-points {
  font-weight: normal;
  letter-spacing: -1.3px;
  text-align: right;
  margin-bottom: -4px;
}

.media--leaderboard .media--conversation__meta .experience-heading {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  font-size: 0.8em;
  color: #ccc;
}

.media--conversation__avatar {
  width: 80px;
  float: left;
  position: relative;
}

@media (max-width: 767px) {
  .media--conversation__avatar {
    width: 40px;
  };
}

.media--conversation__avatar img {
  width: 60px;
  border-radius: 50%;
  border: 2px #EFEFEF solid;
}

@media (max-width: 767px) {
  .media--conversation__avatar img {
    width: 30px;
  };
}

.media--conversation__answered-icon {
  cursor: pointer;
  color: #9BC84A;
  border: 2px solid #9BC84A;
  border-radius: 50%;
  padding: 2px 4px 2px 5px;
  line-height: 1;
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 9px;
  background: $background;
  -webkit-box-shadow: 0 0 0 4px $background;
  box-shadow: 0 0 0 4px $background;
}

@media (max-width: 767px) {
  .media--conversation__answered-icon {
    display: none;
  };
}

.media--conversation__answered-icon.media--conversation__answered-icon--alternate {
  color: #A7B3C2;
  padding: 3px 6px 2px 6px;
  border-color: #c5cdd7;
  font-family: $font-family-base;
  font-weight: bold;
  font-size: 13px;
}

.media--conversation__heading {
  color: #A7B3C2;
  margin-bottom: 0;
}

.media--conversation__body {
  margin-right: 2em;
  float: left;
}

@media (max-width: 767px) {
  .media--conversation__body {
    width: 86%;
    margin-right: 0;
  };
}

.media--conversation__body h5 {
  font-size: 0.9em;
  line-height: 1em;
  font-family: $font-family-base;
  margin-bottom: 3px;
  margin-top: 2px;
  text-shadow: 0 0.1px 0.1px #A7B3C2;
}

.media--conversation__body h5 a {
  color: inherit;
}

@media (max-width: 767px) {
  .media--conversation__body h5 {
    line-height: 1;
    margin-bottom: 0;
  };
}

.media--conversation__meta {
  float: right;
}

@media (max-width: 991px) {
  .media--conversation__meta {
    display: none;
  };
}

.media--conversation__meta .label {
  position: relative;
  top: 14px;
  right: 21px;
  font-family: $font-family-base;
  font-weight: normal;
  font-size: 15px;
  background: $base-color;
}

.media--conversation__meta .label:hover {
  background: #f43819;
}

.media--conversation__meta .label a {
  color: #fff;
}

.media--conversation__meta .label a:hover {
  text-decoration: none;
}

.media--conversation__replies {
  font-size: 0.7em;
  color: #A7B3C2;
  margin-top: 2px;
  margin-right: 10px;
  display: block;
}

.media--conversation__replies a,.media--conversation__replies .experience-points {
  font-weight: bold;
  display: block;
  text-align: center;
  color: #4B4B4B;
  font-size: 1.44em;
  line-height: 1;
  margin-bottom: -1px;
}

.bubble {
  font-size: 2em;
  font-weight: light;
  float: right;
  position: relative;
  top: 2px;
  font-family: $font-family-base;
}

.bubble a:hover {
  text-decoration: none;
}

.label-muted {
  background: #ddd;
  font-weight: normal;
  color: #555;
  font-family: sans-serif;
}

.label-muted a:hover {
  color: inherit;
}

.label-muted:hover {
  background: #f43819;
}

.label-muted a {
  color: inherit;
}

.label-muted a:hover {
  text-decoration: none;
}

.label-small {
  font-size: 0.6em;
}

@media (max-width: 767px) {
  .label-small {
    display: none;
  };
}

.question-notification-form:after {
  top: -19px !important;
}

#notifications-form {
  color: #c5c5c5;
  display: inline-block;
  line-height: 1;
}

#notifications-form label {
  font-size: 14px;
  color: #9A9A9A;
  padding-right: 5px;
  margin-bottom: 0;
}

#notifications-form input {
  margin-top: 0;
}

@media (max-width: 767px) {
  #notifications-form {
    display: none;
  };
}

.reply,#question-stats,.participation {
  position: relative;
  margin: 0;
  padding-bottom: 2em;
}

.reply:before,#question-stats:before,.participation:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 1px solid #eee;
  left: 30px;
}

@media (max-width: 991px) {
  .reply:before,#question-stats:before,.participation:before {
    content: none;
  };
}

.reply:last-of-type:before,#question-stats:last-of-type:before,.participation:last-of-type:before {
  content: none;
}

.signed-in .reply:last-of-type:before,.signed-in #question-stats:last-of-type:before,.signed-in .participation:last-of-type:before {
  content: "";
}

.reply p code,#question-stats p code,.participation p code {
  color: #4b4b4b;
  font-weight: bold;
}

@media (max-width: 991px) {
  .reply,#question-stats,.participation {
    margin-bottom: 1em;
    padding-bottom: 0;
    background: #fff;
    border: 1px solid #ddd;
  };
}

@media (max-width: 991px) {
  #question-stats {
    display: none;
  };
}

.reply__avatar,.participation__avatar {
  position: relative;
  z-index: 2;
  overflow: visible;
  text-align: left;
  font-size: 14px;
  padding-left: 0;
  float: left;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .reply__avatar,.participation__avatar {
    display: none;
  };
}

.reply__avatar>a,.participation__avatar>a {
  display: block;
}

.reply__avatar i,.participation__avatar i {
  right: -5px;
}

.reply__avatar .img-circle,.participation__avatar .img-circle {
  width: 60px;
}

.participation__body {
  background: #fff;
  padding: 30px 40px 20px;
  position: relative;
  overflow: visible;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.6;
  margin-right: -12px;
  width: 93%;
}

@media (max-width: 1200px) {
  .participation__body {
    width: 91.54%;
  };
}

@media (max-width: 991px) {
  .participation__body {
    width: 100%;
    border: none;
  };
}

.signed-in .participation__body {
  padding-bottom: 0;
}

.reply--correct-answer .participation__body {
  border-color: #C2DE9A;
}

.participation__body blockquote {
  color: #999;
}

.participation__body p {
  margin-bottom: 1em;
}

.participation__body p a {
  color: $base-color;
  font-weight: bold;
}

.participation__body .media-heading {
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .participation__body .media-heading {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
  };
}

.participation__body code,.participation__body pre {
  font-size: 15px;
}

.participation__body pre {
  padding: 20px;
  background: #2D3037;
}

.participation--featured .best-answer {
  background: #E9F2DE;
  margin: -30px -40px 30px -40px;
  padding: 15px 40px;
  color: #93C744;
  font-weight: bold;
  border-bottom: 1px solid #C2DE9A;
}

.participation--featured .best-answer span {
  color: #898E88;
}

.participation--featured .best-answer i {
  margin-right: 3px;
  position: relative;
  top: 3px;
  text-shadow: 0.4px 0.4px 0 #93C744;
}

.participation__body__user-stats {
  font-size: 0.8em;
  color: #cdcdcd;
  letter-spacing: -0.4px;
}

@media (max-width: 991px) {
  .participation__body__user-stats {
    display: none;
  };
}

.participation__body__user-stats .dash-divider {
  margin: 0 8px;
}

.reply__body__date,.participation__body__date {
  font-size: 0.8em;
  color: #CDCDCD;
  float: right;
  letter-spacing: -0.4px;
}

@media (max-width: 991px) {
  .reply__body__date,.participation__body__date {
    display: none;
  };
}

.reply__body__date a,.participation__body__date a {
  color: #CDCDCD;
}

@media (min-width: 767px) {
  .reply__body:before,.participation__body:before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: -6px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-left: 1px solid #CAD5E0;
    border-top: 1px solid #CAD5E0;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  };
}

.participation--featured .reply__body:before,.participation--featured .participation__body:before {
  background: #E9F2DE;
}

.participation__body__buttons {
  float: right;
  display: none;
}

.participation:hover .participation__body__buttons {
  display: block;
}

@media (max-width: 767px) {
  .participation__body__buttons {
    position: absolute;
    bottom: 1px;
    right: 22px;
  };
}

.participation__body__buttons a:hover {
  text-decoration: none;
}

.participation__body__buttons i {
  line-height: 1.2;
}

.participation:hover .participation__body__buttons {
  opacity: 1;
  color: #555 !important;
}

.participation__footer {
  border-top: 1px solid #e3e3e3;
  padding: 20px 40px 0;
  margin: 32px -40px 0 -40px;
  font-size: 22px;
  overflow: hidden;
  background: #fafafa;
}

.participation__footer__like-count {
  font-weight: bold;
  font-size: 17px;
  position: relative;
  top: -8px;
  color: #A7B3C2;
  font-family: sans-serif;
}

.participation__footer__like-count span {
  position: relative;
  color: #c5c5c5;
  top: -5px;
  font-size: 11px;
}

.participation__footer__like-count span:before {
  content: "x";
  padding-right: 3px;
}

.participation__footer__like-count i:hover {
  color: $base-color;
}

.participation__footer__like-count i.is-liked {
  color: $base-color;
}

.participation__footer__like-count i.is-liked:hover {
  color: #A7B3C2;
}

.participation__footer__like-list {
  font-size: 15px;
  margin: 0 0 0 0.9em;
  padding: 0;
  position: relative;
  top: -4px;
  line-height: 1;
}

.participation__footer__like-list li {
  margin-right: 7px;
  background: #A7B3C2;
  color: #fff;
  position: relative;
  top: 2px;
  padding: 5px;
}

.participation__footer__like-list li:nth-child(n+8) {
  display: none;
}

@media (max-width: 767px) {
  .participation__footer__like-list li:nth-child(n+3) {
    display: none;
  };
}

.participation__footer__like-list li:hover {
  background: $base-color;
}

.participation__footer__like-list li a {
  color: inherit;
  font-family: $font-family-base;
}

.participation__footer__like-list li a:hover {
  text-decoration: none;
}

.participation__footer__answer-form {
  float: right;
  margin-top: 1px;
}

.participation__footer__answer-form .label {
  font-size: 13px;
  color: #A7B3C2;
  letter-spacing: -0.2px;
}

.participation__footer__answer-form .label:hover {
  color: $base-color;
}

.participation__name {
  color: #A7B3C2;
  font-size: 0.8em;
  display: inline;
}

.participation__name a {
  color: #A7B3C2;
}

.question {
  padding: 35px 40px 15px !important;
}

#question-stats,.question-notification-form {
  padding-bottom: 38px;
  padding-top: 4px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  color: #9A9A9A;
}

#question-stats:after,.question-notification-form:after {
  border-top: 1px solid #eee;
  display: block;
  width: 100%;
  height: 10px;
  content: " ";
  position: relative;
  z-index: -1;
  top: -12px;
}

#question-stats span,#question-stats form,.question-notification-form span,.question-notification-form form {
  background: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  position: relative;
}

.last-updated {
  margin-left: 2px;
  position: relative;
  top: -2px;
  color: #b3b3b3;
  font-size: 0.7em;
  letter-spacing: -0.3px;
  display: block;
}

.media--leaderboard .last-updated {
  font-size: 0.6em;
}

.last-updated a {
//  font-weight: bold;
  color: #A7B3C2;
}

.reply__help-block {
  color: #A7B3C2;
  font-size: 13px;
  display: block;
  text-align: right;
}

.reply__help-block:last-child {
  margin-bottom: 0;
}

#delete-reply-button,#edit-reply-button {
  float: left;
  margin-left: 15px;
  display: inline-block;
  line-height: 1;
}

#edit-reply-button {
  position: relative;
}

.forum-page-heading {
  background: $base-color;
  color: #fff;
  padding: 6px 30px;
  font-family: $font-family-base;
  overflow: hidden;
}

.forum-page-heading h1 {
  font-size: 25px;
  font-weight: normal;
  font-family: inherit;
  letter-spacing: 0;
  margin: 0;
  display: inline-block;
  float: left;
}

.threads-inner {
  clear: both;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  .threads-inner {
    padding: 0 1em;
  };
}

.input-naked {
  border: none;
}

.input-naked--textarea {
  width: 100%;
  height: 250px;
}

.input-naked--textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

#reply-form form {
  padding-left: 0;
  padding-right: 0;
  width: 1060px;
}

#reply-form .participation__body {
  width: 100%;
}

@media (min-width: 767px) {
  #reply-form .participation__body:before {
    content: none;
  };
}

#reply-form:before {
  content: none;
}

#reply-form input[type=text] {
  width: 87%;
  margin-bottom: 1em;
  border-color: #ddd;
  font-size: 22px;
}

.reply-form__submit {
  margin-top: 20px;
}

.reply-form__submit .btn-submit {
  padding: 15px 30px;
}

.forum-pagination {
  text-align: center;
  clear: both;
}

.updated h5 {
//  font-weight: bold !important;
  color: #4C4C4C;
}

#conversations-sidebar {
  border-left: 1px solid $background;
  padding-left: 25px;
}

@media (max-width: 767px) {
  #conversations-sidebar {
    display: none;
  };
}

.forum-sidebar-section {
  border-bottom: 1px solid #ddd;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
}

.forum-sidebar-section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.forum-sidebar-section__heading {
  margin-top: -10px;
}

.pagination-links {
  position: relative;
  float: right;
  padding-bottom: 16px;
  width: 100%;
  text-align: right;
}

.pagination-links:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  border-left: 1px solid #eee;
  left: 30px;
}

.leaderboard {
  width: 70%;
  margin: auto;
}

.leaderboard .media {
  margin-bottom: 40px;
}

.leaderboard__stats {
  font-family: sans-serif;
  font-size: 13px;
  list-style: none;
  padding: 0;
  color: #999;
}

.leaderboard .media--conversation__body {
  width: 40%;
}

.leaderboard-position {
  font-weight: bold;
  font-family: $font-family-base;
  font-size: 2em;
  float: left;
  padding-right: 30px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .leaderboard-position {
    font-size: 1.5em;
  };
}

@media (max-width: 991px) {
  .leaderboard .media--conversation__meta {
    display: inline-block;
  }

  .leaderboard .media--conversation__meta .bubble {
    font-size: 1.5em;
  }

  .leaderboard .media--conversation__meta i {
    display: none;
  };
}

.ProductsHeading {
  font-weight: bold;
  margin-bottom: 2em;
  margin-bottom: 2em;
  border-top: 1px dotted #c5c5c5;
  border-bottom: 1px dotted #c5c5c5;
  padding: 2em 0;
}

.ProductsHeading i {
  color: #999;
  padding-right: 12px;
}

.Product {
  margin-bottom: 5em;
}

.Product__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

@media (max-width: 991px) {
  .Product {
    text-align: center;
  };
}

.Product__main-image {
  width: 390px;
  border: 12px solid #e3e3e3;
  outline: 1px solid #c5c5c5;
}

.align-middle {
  vertical-align: middle;
}

.sale-page {
  background: #000;
}

#sale-wrap {
  background: url(/images/sales/fire.gif) no-repeat 0 76%;
  background-size: contain;
  margin: auto;
  width: 800px;
  text-align: center;
}

@media (max-width: 767px) {
  #sale-wrap {
    width: auto;
    background: none;
  }
}

#sale-wrap h1 a,#sale-wrap h2,#sale-wrap a {
  color: #fff;
  text-transform: uppercase;
}

#sale-wrap h1 {
  font-size: 80px;
  font-family: $font-family-base;
  display: inline-block;
  line-height: 1em;
}

@media (max-width: 767px) {
  #sale-wrap h1 {
    font-size: 30px;
  }
}

@media (min-width: 767px) {
  #sale-wrap h1 span {
    padding: 0 6px;
    display: inline-block;
  }

  #sale-wrap h1 span:nth-child(1) {
    background: #ab2f13;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    margin-bottom: 6px;
  }

  #sale-wrap h1 span:nth-child(2) {
    background: #CB3817;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
}

#sale-wrap h2 {
  color: #fff;
  font-size: 23px;
}

#sale-wrap h2 span {
  font-size: 0.7em;
  color: #bfbfbf;
  position: relative;
  top: -3px;
  display: block;
  margin-bottom: -15px;
}

@media (min-width: 767px) {
  #sale-wrap h2 {
    margin-top: 140px;
  }
}

.sale-page #sale-terms {
  background: $base-color;
  padding: 0.5em 0;
}

.sale-page #sale-terms .BlockMessage__body {
  font-size: 17px;
}

#sale-final-callout {
  background: #6f1405;
}

#sale-final-callout .BlockMessage__body {
  font-size: 0.8em;
}

#sale-final-callout a:hover {
  color: inherit;
}

#sale-faq {
  background: #fff;
}

#sale-faq .container {
  background: -webkit-linear-gradient(left, #f1f1f1, #f1f1f1 50%, #e9e9e9 50%, #e9e9e9);
}

@media (max-width: 991px) {
  #sale-faq .container {
    background: #f1f1f1;
  };
}

#sale-faq dl {
  padding: 1em;
}

#sale-faq dt:not(:first-child) {
  margin-top: 2em;
}

#sale-faq h5 {
  font-weight: bold;
  font-size: 1.16em;
}

#sale-faq .btn {
  font-family: $font-family-base;
  text-transform: uppercase;
  font-size: 1.6em;
}

.BlockMessage {
  font-size: 2.3em;
  padding: 3em 0;
  text-align: center;
  font-family: $font-family-base;
  color: #fff;
}

.BlockMessage.BlockMessage--small {
  padding: 1.5em 0;
}

.BlockMessage i {
  color: #333;
  vertical-align: middle;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .BlockMessage i {
    display: none;
  };
}

.BlockMessage__body {
  padding: 0 4em;
  margin: 0;
}

@media (max-width: 767px) {
  .BlockMessage__body {
    padding: 1em;
  };
}

.BlockMessage__body .tip-number {
  color: #555;
}

.BlockMessage__body code,.BlockMessage__body a {
  color: #fff;
}

.BlockMessage__credit {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 0;
}

.BlockMessage__credit a {
  color: inherit;
}

.list-group-item__date {
  float: left;
  padding-right: 0.4em;
  font-weight: bold;
}

.list-group-item__details {
  float: left;
}

.list-group-item__details__sub {
  display: block;
  color: #BBB;
  line-height: 1.1em;
  font-family: $font-family-base;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.list-group-item__details__sub a {
  color: inherit;
}

.list-group-item__icon i {
  color: #c5c5c5;
}

.Breadcrumb {
  padding: 34px 0 50px 0;
  margin: -60px 0 0 0;
  position: relative;
  font-size: 16px;
  background: none;
}

@media (max-width: 991px) {
  .Breadcrumb {
    margin-left: 0;
  };
}

@media (max-width: 767px) {
  .Breadcrumb {
    margin-top: -30px;
  };
}

.Breadcrumb>li+li:before {
  content: "|Â ";
}

@media (max-width: 991px) {
  .Breadcrumb li.hide-from-mobile {
    display: none;
  };
}

.Breadcrumb li.active a,.Breadcrumb li a:hover {
  border-bottom: 3px solid $base-color;
  color: $base-color;
}

.Breadcrumb a,.Breadcrumb button {
  color: #A7B3C2;
  font-weight: bold;
  padding-bottom: 14px;
}

.Breadcrumb a:hover,.Breadcrumb button:hover {
  text-decoration: none;
}

.Breadcrumb:after {
  border-bottom: 1px solid #eee;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  left: 0;
  top: 16px;
}

@media (max-width: 991px) {
  .Breadcrumb:after {
    width: 100%;
    left: 0;
  };
}

@media (max-width: 991px) {
  .Breadcrumb:before {
    content: none;
  };
}

::selection {
  background: $base-color;
  color: #fff;
}

::-moz-selection {
  background: $base-color;
  color: #fff;
}

.wow {
  visibility: hidden;
}

html,body {
  height: 100%;
}

body {
  background: #fff;
  color: #555;
  font-family: $font-family-base;
  letter-spacing: -0.1px;
}

body,button {
  -webkit-font-smoothing: antialiased;
}

body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
  margin-right: 0 !important;
}

a {
  color: $base-color;
}

a:hover,a:focus,button:hover {
  color: $base-color-dark;
}

code {
  color: $base-color;
}

small {
  letter-spacing: 0;
}

blockquote p {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  font-family: inherit;
}

main {
  background: $background;
  padding-bottom: 60px;
}

.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
  background: $background;
}

@media (min-width: 1500px) {
  .page.sidebar-nav--close {
    margin-left: 230px;
  };
}

.page ul.article-list {
  margin: 2em 0;
}

.page figure {
  margin: 2em 0;
  color: #444;
}

.page figure figcaption {
  padding: 0 0 1em 1em;
}

.page img {
  max-width: 100%;
}

.wrap {
  padding-top: 2em;
  padding-bottom: 3em;
  counter-reset: section;
}

@media (max-width: 767px) {
  .wrap {
    padding-top: 1em;
    padding-bottom: 2em;
  };
}

.lesson-set:last-child,.result-set:last-child {
  border-bottom: none !important;
}

.table-lessons thead {
  font-weight: bold;
  color: #fff;
  background: $base-color;
}

.table-lessons thead td {
  padding-left: 1.5em !important;
}

.table-lessons tbody tr td {
  padding: 1.5em;
}

.table-lessons tbody td.table-title {
  padding: 0;
}

.table-lessons tbody td.table-title a {
  display: block;
  padding: 1.5em;
}

.table-lessons tbody td.table-publish-date {
  width: 130px;
}

.content .result-set {
  border-bottom: 1px dotted #e3e3e3;
  margin-bottom: 5em;
  padding-bottom: 3em;
}

@media (max-width: 991px) {
  .content .result-set {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  };
}

.content .article {
  margin-bottom: 4em;
}

.logged-in .post-img i {
  color: #fff;
}

.comments {
  clear: both;
}

.tag-cloud {
  margin-left: 0;
}

.tag-cloud li {
  display: inline;
  margin-right: 1em;
  font-size: 2em;
  line-height: 1.6em;
}

.tag-cloud a {
  color: #fff;
}

.pager li:first-child {
  float: left;
}

.pager li:last-child {
  float: right;
}

.q-a .panel {
  margin-bottom: 2em;
}

.q-a .accordion-toggle {
  display: block;
}

a.watched {
  color: #fbb6ab;
  text-decoration: line-through;
}