.ajax-file-upload-statusbar {
  border: 1px solid #0ba1b5;
  margin-top: 10px;
  margin-right: 10px;
  margin: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 5px 5px 5px; }

.ajax-file-upload-filename {
  width: 100%;
  height: auto;
  margin: 0 5px 5px 10px;
  color: #807579; }

.ajax-file-upload-progress {
  margin: 0 10px 5px 10px;
  position: relative;
  width: 250px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
  display: inline-block; }

.ajax-file-upload-bar {
  background-color: #0ba1b5;
  width: 0;
  height: 20px;
  border-radius: 3px;
  color: #FFFFFF; }

.ajax-file-upload-percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%; }

.ajax-file-upload-red {
  -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
  -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
  box-shadow: inset 0 39px 0 -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #b23e35;
  cursor: pointer;
  vertical-align: top;
  margin-right: 5px; }

.ajax-file-upload-green {
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #5b8a3c;
  vertical-align: top;
  margin-right: 5px; }

.ajax-file-upload {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  cursor: pointer;
  line-height: 20px;
  height: 25px;
  margin: 0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 4px 10px;
  color: #fff;
  background: #2f8ab9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align: middle; }

.ajax-file-upload:hover {
  background: #3396c9;
  -moz-box-shadow: 0 2px 0 0 #15719f;
  -webkit-box-shadow: 0 2px 0 0 #15719f;
  box-shadow: 0 2px 0 0 #15719f; }

.ajax-upload-dragdrop {
  border: 2px dotted #A5A5C7;
  color: #DADCE3;
  text-align: left;
  vertical-align: middle;
  padding: 10px 10px 0px 10px; }

.ajax-upload-dragdrop.state-hover {
  border: 2px solid #A5A5C7; }

.ajax-file-upload-error {
  color: red; }

/*! 
 * medium-editor-insert-plugin v0.3.2 - jQuery insert plugin for MediumEditor
 *
 * https://github.com/orthes/medium-editor-insert-plugin
 * 
 * Copyright (c) 2014 Pavel Linkesch (http://linkesch.sk)
 * Released under the MIT license
 */
.mediumInsert {
  margin: -1em 0; }

.mediumInsert figure {
  margin: 0;
  display: inline-block; }

.mediumInsert img {
  max-width: 100%; }

.mediumInsert .mediumInsert-embeds {
  text-align: center;
  padding: 15px 0; }

.mediumInsert .mediumInsert-embeds iframe {
  margin: 0px auto !important; }

.mediumInsert .mediumInsert-embeds div {
  margin: 0px auto !important; }

.mediumInsert .mediumInsert-images {
  margin-right: 10px;
  width: 20%; }

.mediumInsert .mediumInsert-images img {
  margin-top: 1em;
  margin-bottom: 10px;
  vertical-align: top; }

.mediumInsert .mediumInsert-images:first-child {
  margin-right: 0;
  width: 100%; }

.mediumInsert .mediumInsert-images:first-child:after {
  content: "\a";
  white-space: pre; }

.mediumInsert .mediumInsert-maps {
  padding: 10px;
  background: #ccc; }

.mediumInsert table.mediumInsert-table {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  width: 90%;
  margin: 30px auto; }

.mediumInsert table.mediumInsert-table td {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 12px; }

.mediumInsert.small {
  max-width: 33.33%;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px; }

.mediumInsert.mediumInsert-first {
  margin-top: 0; }

.medium-editor-insert-plugin {
  /* Prevent the text contents of draggable elements from being selectable. */ }

.medium-editor-insert-plugin .clearfix:before, .medium-editor-insert-plugin:before, .medium-editor-insert-plugin .clearfix:after, .medium-editor-insert-plugin:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.medium-editor-insert-plugin .clearfix:after, .medium-editor-insert-plugin:after {
  clear: both; }

.medium-editor-insert-plugin img {
  max-width: 100%; }

.medium-editor-insert-plugin q, .medium-editor-insert-plugin blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 5px solid #efefef;
  padding-left: 20px;
  margin-left: -25px; }

.medium-editor-insert-plugin [draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.medium-editor-insert-plugin[contenteditable], .medium-editor-insert-plugin [contenteditable] {
  outline: 0px solid transparent; }

.medium-editor-insert-plugin[contenteditable]:focus, .medium-editor-insert-plugin [contenteditable]:focus {
  outline: 0px solid transparent; }

.medium-editor-insert-plugin * {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.medium-editor-insert-plugin p {
  margin: 1em 0; }

.medium-editor-insert-plugin progress {
  display: block;
  margin: 1em auto; }

.medium-editor-insert-plugin .hide {
  display: none !important; }

.medium-editor-insert-plugin.hover .mediumInsert-placeholder {
  min-height: 14px;
  border: 1px dashed #ddd;
  margin-top: -1px;
  margin-bottom: -1px; }

.medium-editor-insert-plugin.medium-editor-placeholder {
  padding-bottom: 0 !important;
  min-height: 58px; }

.medium-editor-insert-plugin.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  top: 1em; }

.mediumInsert {
  position: relative;
  margin-left: -40px !important;
  min-height: 18px; }

.mediumInsert.small {
  max-width: calc(33.33% + 40px); }

.mediumInsert .mediumInsert-buttonsShow {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: all 0.08s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -5px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none !important; }

.mediumInsert .mediumInsert-buttonsShow:after {
  left: auto;
  right: 100%;
  top: 50%;
  margin-top: -4px; }

.mediumInsert .mediumInsert-buttons {
  position: absolute;
  width: 40px;
  bottom: 0;
  left: 0;
  color: #ddd;
  font-size: 0.9em; }

.mediumInsert .mediumInsert-buttons a {
  color: #999999;
  text-decoration: underline;
  cursor: pointer; }

.mediumInsert .mediumInsert-buttons a.active {
  font-weight: bold; }

.mediumInsert ul.mediumInsert-buttonsOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  z-index: 2;
  left: 40px;
  top: -10px;
  border-radius: 5px; }

.mediumInsert ul.mediumInsert-buttonsOptions button {
  min-height: auto;
  height: auto;
  padding: 5px;
  border-left: none;
  float: none; }

.mediumInsert ul.mediumInsert-buttonsOptions button .fa {
  font-size: 20px; }

.mediumInsert .mediumInsert-placeholder {
  position: relative;
  margin-left: 40px;
  text-align: center; }

.mediumInsert .mediumInsert-images .mediumInsert-imageIcon {
  position: absolute;
  top: 1em;
  width: 30px;
  height: 30px;
  background-color: #3b3b3b;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer; }

.mediumInsert .mediumInsert-imageRemove {
  right: 0;
  background-image: url(/img/editor/remove.png); }

.mediumInsert .mediumInsert-imageResizeSmaller, .mediumInsert .mediumInsert-imageResizeBigger, .mediumInsert .mediumInsert-imageResizeBigger {
  right: 31px;
  background-image: url(/img/editor/resize-smaller.png); }

.mediumInsert .mediumInsert-imageResizeBigger {
  background-image: url(/img/editor/resize-bigger.png); }

.mediumInsert .mediumInsert-imageLink, .mediumInsert .mediumInsert-imageUnlink {
  right: 62px;
  background-image: url(/img/editor/link.png); }

.mediumInsert .mediumInsert-imageUnlink {
  background-image: url(/img/editor/unlink.png); }

.mediumInsert .mediumInsert-error {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 15px; }

.mediumInsert .mediumInsert-embedsPlaceholder {
  position: relative;
  padding: 24px;
  height: 160px;
  text-align: center;
  background-color: #fff; }

.mediumInsert .mediumInsert-embedsWire {
  position: absolute;
  left: 50%;
  text-align: center; }

.mediumInsert .mediumInsert-imageLinkWire {
  position: absolute;
  top: -40px;
  left: auto;
  right: 0; }

.mediumInsert .mediumInsert-embedsBox {
  position: relative;
  left: -250px; }

.mediumInsert .mediumInsert-embedsBox input[type="text"] {
  margin: 0 auto;
  padding: 10px;
  width: 330px;
  border: solid 3px #ccc;
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #aaa; }

.mediumInsert .mediumInsert-embedsBox input[type="text"]:focus {
  border: solid 1px #EEA34A; }

.mediumInsert .mediumInsert-embedsBox input::-webkit-input-placeholder {
  color: #aaa; }

.mediumInsert .mediumInsert-embedsBox button {
  border: solid 1px #2fbbfc;
  padding: 11px 30px;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  background-color: #2fbbfc; }

.mediumInsert .mediumInsert-embedsImage {
  font-size: 100px;
  color: #999; }

.mediumInsert.hover .mediumInsert-placeholder {
  background: #f0f0f0; }

.mediumInsert:hover .mediumInsert-buttonsShow {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
  .mediumInsert:hover .mediumInsert-buttonsShow a {
    color: #F1F1F1; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox {
  background-color: #fff;
  border: 2px solid #333;
  display: inline-block;
  z-index: 50;
  position: relative; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox label, .mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox button {
  color: #333;
  text-transform: capitalize; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox button.mediumInsert-tableReadyButton {
  background-color: #fff;
  border: 1px solid #333; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox input.mediumInsert-tableCols, .mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox input.mediumInsert-tableRows {
  width: 50px;
  display: block;
  height: initial;
  background-color: inherit;
  border: 1px solid #333;
  color: #333;
  margin: 0 auto;
  text-align: center; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox table {
  margin: 10px; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox table td {
  text-align: center; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox table.mediumInsert-demoTable {
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  height: 100px;
  width: 100px; }

.mediumInsert .medium-editor-toolbar-form-anchor.mediumInsert-tableDemoBox table.mediumInsert-demoTable td {
  border-bottom: 2px solid #333;
  border-right: 2px solid #333; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
  font-size: 0; }

@-webkit-keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }

  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

@-moz-keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }

  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

@-o-keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }

  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

@keyframes pop-upwards {
  0% {
    transform: matrix(0.97, 0, 0, 1, 0, 12);
    opacity: 0; }

  20% {
    transform: matrix(0.99, 0, 0, 1, 0, 2);
    opacity: .7; }

  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1; }

  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; }

  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1; } }

.medium-toolbar-arrow-under:after {
  top: 50px;
  border-color: #242424 transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #242424 transparent; }

.medium-editor-toolbar {
  border: 1px solid #000;
  background-color: #242424;
  background: linear-gradient(bottom, #242424, rgba(36, 36, 36, 0.75));
  border-radius: 5px;
  box-shadow: 0 0 3px #000;
  transition: top .075s ease-out, left .075s ease-out; }
  .medium-editor-toolbar li button {
    min-width: 50px;
    height: 50px;
    border: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #333;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #242424;
    color: #fff;
    background: linear-gradient(bottom, #242424, rgba(36, 36, 36, 0.89));
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: background-color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #000;
      color: yellow; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    color: #fff;
    background: linear-gradient(bottom, #242424, rgba(0, 0, 0, 0.89)); }

.medium-editor-toolbar-form-anchor {
  background: #242424;
  color: #999;
  border-radius: 5px; }
  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input {
    height: 50px;
    background: #242424;
    color: #ccc;
    box-sizing: border-box; }
  .medium-editor-toolbar-form-anchor a {
    color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  color: #fff;
  border-radius: 5px; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  content: ""; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-width: 0 8px 8px 8px; }

.medium-editor-toolbar, .medium-editor-anchor-preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  visibility: hidden;
  font-size: 16px;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar ul, .medium-editor-anchor-preview ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li, .medium-editor-anchor-preview li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .medium-editor-toolbar li button, .medium-editor-anchor-preview li button {
      display: block;
      margin: 0;
      padding: 15px;
      cursor: pointer;
      font-size: 14px;
      line-height: 1.33;
      text-decoration: none;
      box-sizing: border-box; }
    .medium-editor-toolbar li .medium-editor-action-underline, .medium-editor-anchor-preview li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre, .medium-editor-anchor-preview li .medium-editor-action-pre {
      padding: 15px 0;
      font-weight: 100;
      font-size: 12px;
      font-family: 'Menlo', monospace; }

.medium-editor-anchor-preview i {
  display: inline-block;
  margin: 5px 5px 5px 10px;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer; }

.medium-editor-toolbar-active, .medium-editor-anchor-preview-active {
  visibility: visible;
  -webkit-animation: pop-upwards 160ms forwards linear;
  -moz-animation: pop-upwards 160ms forwards linear;
  -ms-animation: pop-upwards 160ms forwards linear;
  -o-animation: pop-upwards 160ms forwards linear;
  animation: pop-upwards 160ms forwards linear;
  transition: top .075s ease-out, left .075s ease-out; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form-anchor {
  display: none; }
  .medium-editor-toolbar-form-anchor input, .medium-editor-toolbar-form-anchor a {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input, .medium-editor-toolbar-form-anchor label {
    margin: 0;
    padding: 6px;
    width: 316px;
    border: none;
    font-size: 14px;
    box-sizing: border-box; }
    .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input:focus, .medium-editor-toolbar-form-anchor label:focus {
      outline: 0;
      border: none;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .medium-editor-toolbar-form-anchor label {
    display: block; }
  .medium-editor-toolbar-form-anchor a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-placeholder) !important;
    font-style: italic; }
