.statistic-box {
  margin-bottom: 10px;
  border-bottom: 1px solid $background;
  font-weight: bold;
  text-transform: uppercase;
}
.quiz-sidebar-section{
  padding-top: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

.option_test {
  overflow-y: auto;
  overflow-x: hidden;
}
.option_test td {
  border: none;
  padding: 5px 2px 5px 5px;
  width: 17%;
}
.answer-box{
  max-height: 300px;
}

.is_stuck{
  z-index: 100;
}

#quiz-content-detail
{
  display:block;
}
.the-end{
  display: block;
  padding-top: 3em;

  h1{
    text-align: center;
  }
}


