.statistic-box {
  margin-bottom: 10px;
  border-bottom: 1px solid $background;
  font-weight: bold;
  text-transform: uppercase;
}
.quiz-sidebar-section{
  padding-top: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

span.timecou{
  font-size: 1em;
}
.option_test {
  overflow-y: auto;
  overflow-x: hidden;
}
.option_test td {
  border: none;
  padding: 5px 2px 5px 5px;
  width: 17%;
}


.is_stuck{
  z-index: 100;
}

#quiz-content-detail
{
  display:block;
}
.the-end{
  display: block;
  padding-top: 3em;

  h1{
    text-align: center;
  }
}
.pagination > li > a, .pagination > li > span {
  border: 0;
}
.pagination > li > a[rel], .pagination > li.disabled {
  display:none;
}
/* Bootstrap layout edit */
.row {
  margin-right: 0;
}
@media (max-width: 767px) {
  .container{
    padding-right: 0;
  }
  .forum .jumbotron{
    margin-bottom: 1.8em;
  }
}


/*Facebook comment*/
.fb_iframe_widget, .fb_iframe_widget span,.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}


